/* Resets everything */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Quicksand, Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

button {
	color: black;
}

/* Application Main */
.application-main-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

/* Hide Application */
.hidden {
	opacity: 0;
}

/* Login Section */
#login-section {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding-top: 1rem;
	margin-bottom: 3rem;
}

.login-form-element {
	display: flex;
	align-items: center;
	gap: 1rem;
}

#button-login {
	padding: 0.5rem;
	border-radius: 1.2rem;
	background-color: #EBA18E;
	border-width: 0;
	cursor: pointer;
}

/* Transaction system */

.transaction-container h2 {
	display: flex;
	justify-content: center;
	color: #FFFAFA;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
}

.transaction-container {
	background-color: #324249;
	padding-top: 1rem;
	width: 20rem;
	height: 25rem;
	overflow: auto;
	overflow-x: hidden;
	word-wrap: break-word;
	border-radius: 1.5rem;
	margin-bottom: 1rem;
}

.transaction-box {
	padding: 1rem;
	width: 15rem;
	height: auto;
	background-color: #FFFAFA;
	margin-top: 1rem;
	line-height: 1.9rem;
	margin: 0 auto;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
}

/* Transfer Box */
.makeTransferBox {
	width: 20rem;
	height: auto;
	padding: 1rem;
	background-color: #8A0000;
	margin-bottom: 1rem;
}
.makeTransferBox, #transferForm {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* Request Loan Box */
.request-loan-box {
	padding: 1rem;
	background-color: #074B37;
	width: 15rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.request-loan-box, .makeTransferBox {
	color: #fff;
}

#request-loan-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* Responsive Design */
@media (max-width: 915px) {
	#login-section form, #login-section {
		flex-direction: column;
	}

	.application-main-container {
		grid-template-columns: auto;
		grid-template-rows: repeat(3, auto);
		margin-bottom: 3.5rem;
	}
}